<html>
<head>
	<title>Наш сайт</title>
</head>
<body>
	<ul>
		<li><a href="?p=5">калькулятор1</a></li>
		<li><a href="?p=6">калькулятор2</a></li>
	</ul>
	<p style="color: red">{MSG}</p>
	{CONTENT}
</body>
</html>