<a class="btn-cart" href="/" type="button">Список товаров</a>
<a class="btn-cart cart" href="?p=admin_office" type="button">Заказы</a>
<a class="btn-cart" href="?p=authentication&f=logOut" type="button">Выход</a>
