<a class="btn-cart" href="/" type="button">Список товаров</a>
<a class="btn-cart" href="?p=private_office" type="button">Личный кабинет</a>
<a class="btn-cart" href="?p=authentication&f=logOut" type="button">Выход</a>
<a class="btn-cart cart" href="?p=cart" type="button">Корзина<div class="quantity">{QUANTITY}</div></a>